@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
  --primary-purple: #6148FF;
  --primary-grey: #6148FF57;
  --primary-blue: #489CFF;
  --primary-light-purple:#D0B7E6;
  --primary-light-grey:#E2D4F0;
  --primary-brown:#AA9B87;
  --primary-light-brown:#D4C2A8;
  --primary-cream:#FFE9CA;
  --primary-light-cream:#FFF0DC;

  --allert-red:#FF0000;
  --allert-yellow:#F9CC00;
  --allert-green:#73CA5C;

  --neutral-black:#151515;
  --neutral-light-black:#3C3C3C;
  --neutral-grey:#8A8A8A;
  --neutral-light-grey:#D0D0D0;
  --neutral-white:#FFFFFF;
}