.scrollable-content::-webkit-scrollbar {
  width: 8px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: var(--primary-purple);
  border-radius: 6px;
}

.scrollable-content::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: var(--primary-blue);
}

.scrollable-content {
  overflow-y: auto;
}
