:root {
 background-color: #EBF3FC;
}

body {
  background-color: #EBF3FC;
}

.navbar {
  background-color: #6148FF;
}

.navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.form-search {
  margin-left: 30px;
}

.form-search .form-control {
  width: 300px;
}

.form-search .btn {
  background-color: #489CFF;
}

.menu-nav .btn {
  background-color: #489CFF;
}

.menu-nav .icon {
  color: white;
  width: 20px;
  height: 20px;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 800px) {
  .menu-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: #8A8A8A;
    background-color: #FFFFFF;
  }
}

.filter .card {
  width: 250px;
  height: 500;
}

.card .p {
  color: red;
  font-size: 14px;
}

.card .label-filter {
  font-size: 14px;
}

.list-course {
  margin-left: 30px;
}

.title h6 {
  margin-left: 100px;
  font-size: 20px;
}

.title input {
  margin-right: 100px;
}

.title .form-control {
  width: 200px;
}

.btn-menu {
  max-width: fit-content;
  margin: 0 auto;
}

.btn-menu .btn {
  width: 200px;
}